*{
	margin: 0px;
	padding: 0px;
}

h1{
	margin-top: 20%;
	text-align: center;
	color: white;
	border-right: solid 3px rgba(0,255,0,.75);
	white-space: nowrap;
	overflow: hidden;
	font-size: 2em;
}

h1 {
  animation: animated-text 6s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(25,end) infinite;
}



@keyframes animated-text{
  from{width: 0;}
  to{width: 472px;}
}



@keyframes animated-cursor{
  from{border-right-color: turquoise;}
  to{border-right-color: transparent;}
}



body{
	background: url(https://th.bing.com/th/id/OIP.M6wgJl2RgAz4pljpGj0OpAHaE5?w=250&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

input[type=text],input[type=Email]{
	background-color: transparent;
	border: none;
	border-bottom:2px solid #ccc ;
	color: #ffffff;
	transition: .3s ease-in-out;
}

input[type=text]::placeholder,input[type=Email]::placeholder{
	font-family: 'Times New Roman', Times, serif;
	color: white;
	opacity: 0.8;
	font-size: 17px;
}

input[type=text]:focus,input[type=text]:hover ,input[type=Email]:focus,input[type=Email]:hover{
	box-shadow: none;
	color: white;
	outline: none;
	border: none;
	border-bottom: 2px solid #00FFEF;
	background: transparent;
}

#textarea{
	background: transparent;
	border: none;
	border-bottom: 2px solid #ccc;
	color: #ffffff;
	transition: .3s ease-in-out;
}

#textarea::placeholder{
	font-family: 'Times New Roman', Times, serif;
	color: white;
	font-size: 18x;
	opacity: 0.8;
}

#textarea:focus, #textarea:hover{
	box-shadow: none;
	outline: none;
	border: none;
	border-bottom: 2px solid #00FFEF;
}

span{
	color: white;
	font-size: 18px;
}

input[type=checkbox]{
	text-align: left;
}

#feedback{

	-webkit-box-shadow: 3px 6px 32px 2px rgba(0,0,0,0.72);
	-moz-box-shadow: 3px 6px 32px 2px rgba(0,0,0,0.72);
	box-shadow: 3px 6px 32px 2px rgba(0,0,0,0.72);
	background-color: rgba(0,0,0,0.5);
	border-radius: 10px;
}

.button{
	color: white;
	background-color: whitesmoke;
	width: 140px;
	font-size: 19px;
	background: transparent;
}

.button:hover{
	color: white;
	border: 2px solid #00FFEF;
}